<!-- 2014-07-03 -->
<ul>
	<li>Added center selection option.</li>
	<li>PSF bright based fitting center.</li>
	<li>Fixed bug for detection on borders when center is outside the image area.</li>
</ul>
<!-- Fín de la información de versión -->
