<!-- 2014-06-23 -->
<ul>
	<li>Direct plate scale in astrometric dialog.</li>
	<li>CROTA1,CROTA2 wcs header recognition. Used by <b>Astrometrica</b>.</li>
	<li>Reading 8bit per pixel image bug fixed.</li>
	<li>Improved star detection around plate borders.</li>
	<li>Infrared 2MASS catalog added.</li>
	<li>Time in log window.</li>
	<li>Align process improved.</li>
</ul>
<!-- Fín de la información de versión -->
