<!-- 2014-03-13 -->
<ul>
	<li>Improved layers. More interactive, more information...</li>
	<li>DPI awareness in sessame/search dialog.</li>
	<li>Translation review of some strings.</li>
	<li>Start/Middle/End of exposure detection. Not relevant for astrometry but may be used in the future.</li>
</ul>
<!-- Fín de la información de versión -->
