<!-- 2014-05-27 -->
<ul>
	<li>USNO-B1.0 Catalog.</li>
	<li>GSC 2.3.2 Catalog.</li>
	<li>Improved Declination parsing.</li>
	<li>Added a single quotation mark in some WCS headers. Sextractor needs this marks to detect the astrometric reduction.</li>
	<li>Play sequence in the image blink screen.</li>
	<li>Download Minor Planet Center known objects inside the image field.</li>
	<li>Compiled with vectorization/parallelization in msvc 64 bits version. Faster calibration, faster astrometry, faster image drawing on screen.</li>
</ul>
<!-- Fín de la información de versión -->
