<!-- 2014-05-07 -->
<ul>
	<li>Improved star align.</li>
	<li>Better astrometry with low SN images.</li>
	<li>Improved RA-DEC mesh painting.</li>
	<li>Dialog information preserved between sessions.</li>
</ul>
<!-- Fín de la información de versión -->
