<!-- 2014-05-15 -->
<ul>
	<li>Image blinking.</li>
	<li>Faster and better astrometic reduction.</li>
	<li>Improved align algorithm for astrometric reduction.</li>
	<li>Some user interface improvements.</li>
</ul>
<!-- Fín de la información de versión -->
