<!-- 2014-05-23 -->
<ul>
	<li>Beta command line utility.</li>
	<li>Background improvements.</li>
	<li>Detection improvements.</li>
	<li>Align improvements.</li>
	<li>Better date and time, ra and dec headers recognition.</li>
</ul>
<!-- Fín de la información de versión -->
