<!-- 2014-02-05 -->
<ul>
	<li>Support to load sbig file format.</li>
	<li>Support to load jpeg, png, tiff, bmp and gif files.</li>
	<li>Improved performance when a very large (more than 50MB) image is loaded.</li>
	<li>Improved fit header editing.</li>
	<li>Saturated and invalid pixels management. Now, invalid pixels are used in astrometry to calculate star field density.</li>
	<li>Astrometry overlay is shown with final gnomonic projection.</li>
	<li>Hot and cold pixels correction.</li>
	<!-- Dejar esta línea al final -->
	<li>Minor bugs fixed.</li>
</ul>
<!-- Fín de la información de versión -->
