<!-- 2013-12-01 -->
<ul>
	<li>First version.</li>
    <li>Read FITS (32 bit floating point, 8, 16 and 32 bit integer).</li>
    <li>Edit FITS headers.</li>
    <li>Powerful and easy-to-use user interface.</li>
    <li>Batch image calibration.</li>                                                                                                         
    <li>Automatic astrometric reduction and reference star selection. Automatic rejecting of large residuals stars.</li>
</ul>