<!-- 2014-02-19 -->
<ul>
	<li>DPI aware interface.</li>
	<li>Fit headers edition improved.</li>
	<li>Adapting interface to Linux and Mac.</li>
	<li>Adapting core to work on Linux and Mac.</li>
</ul>
<!-- Fín de la información de versión -->
