<!-- 2014-12-07 -->
<ul>
	<li>Improved astrometry algorithm. Robust align detection.</li>
	<li>New Image Analysis tool; <b>Image catalog</b> allows to create catalogs and flux tables.</li>
	<li>Context menu in image window.</li>
	<li>High declination mesh drawing.</li>
	<li>Migrating to vectorial icons.</li>
	<li>Minor bugs fixed.</li>
</ul>
<!-- Fin de la información de versión -->
