<!-- 2014-08-12 -->
<ul>
	<li>Automatic stretch improved.</li>
	<li>Save fit as png image.</li>
	<li>Save fit as jpeg image.</li>
	<li>Export current view utility</li>
	<li>Faster image opening.</li>
	<li>Faster real-time histogram computing in the histogram window.</li>
</ul>
<!-- Fín de la información de versión -->
