<!-- 2015-08-27 -->
<ul>
	<li>Important global improvements.</li>
	<li>Minor Planet Center reports.</li>
	<li>Astrometric alignemet improved.</li>
	<li>Mesh in blink dialog.</li>
	<li>File association.</li>
	<li>Migrated to Qt 5.4.</li>
	<li>Improved RA and DEC detection from image headers.</li>
	<li>Find box in fit headers dialog.</li>
	<li>Web request cache.</li>
	<li>Minor bugs fixed.</li>
</ul>
<!-- Fin de la información de versión -->
