<!-- 2014-10-29 -->
<ul>
	<li>Batch header editing</li>
	<li>New options in fit headers dialog.</li>
	<li>Position angle in distance tool.</li>
	<li>Open files with special chars in path. Bug fixed.</li>
	<li>Additional WCS headers recognition.</li>
	<li>Fixed image stretching in 32 bits floating point images.</li>
	<li>Detection close to the image edges improved.</li>
	<li>Calibration cancelling.</li>
	<li>Minor bugs fixed.</li>
</ul>
<!-- Fin de la información de versión -->
