<!--2014-08-09 -->
<ul>
	<li>Bug fixed. No BZERO header present.</li>
	<li>More date formats to parse in fit header.</li>
	<li>Precise date/time from fit header. Start,Mid,End keywords processing in date headers.</li>
	<li>Bigger icons in user interface</li>
	<li>Tools. Stretch and contrast</li>
	<li>Tools. Locate point tool</li>
	<li>Tools. Distance tool</li>
	<li>Tools. Linear profile tool</li>
</ul>
<!-- Fín de la información de versión -->
