<!-- 2015-09-20 -->
<ul>
	<li>Important global improvements.</li>
	<li>BND header in MPC reports.</li>
	<li>Export blink animation as html code.</li>
	<li>Minor Planet Center reports.</li>
	<li>Topocentric solution for knwon objects.</li>
	<li>Astrometric alignemet improved.</li>
	<li>Blink dialog. Save GIF sequence.</li>
	<li>Mesh in blink dialog.</li>
	<li>File association.</li>
	<li>Migrated to Qt 5.4.</li>
	<li>Improved RA and DEC detection from image headers.</li>
	<li>Find box in fit headers dialog.</li>
	<li>Web request cache.</li>
	<li>Minor bugs fixed.</li>
</ul>
<!-- Fin de la información de versión -->
