<!-- 2018-09-10 -->
<ul>
	<li>Important global improvements.</li>
	<li>Ready for astrometry extended objects</li>
	<li>Ready for astrometry of trails and linear objects</li>
	<li>GAIA DR1 catalog improves astrometric solution</li>
	<li>GAIA DR2 catalog improves astrometric solution</li>
	<li>Minor bugs fixed.</li>
</ul>
<!-- Fin de la información de versión -->
