#be h2 { margin-bottom: 20px; line-height:1.5; } 
#be h3 { margin-bottom: 12px; margin-top: 42px !important;} 
#be p { margin-bottom: 1em; text-align:justify;}
#be p[cname='mso-list'] { margin-left:36px; } 		/* Párrafo de comienzo de lista */
#be p[cname='mso-parr'] { margin-left:36px; } 		/* Párrafo de continuación de lista */
#be span[cname='mso-list'] { 						/* Bullet de inicio de lista*/
	display: inline;
	font-family: Symbol;
	font-size: 13px;
	height: auto;
	line-height: 15.333333015441895px;
	orphans: 2;
	text-align: justify;
	text-indent: -24px;
	widows: 2;
	min-width:30px;
} 	
#be *[calign='left']{ float:left; margin-right: 10px;}
#be *[calign='right']{ float:right; margin-left: 10px;}
#be span[cname='mso-img'], #be span[cname='mso-inlined']{ padding:5px 5px 5px 5px; border: 1px solid #ccc;  background:#f0f0f0;}		/* Container de las imágenes */
#be span[cname='mso-inlined'] { margin-bottom: 18px;}
#be span[cname='mso-imgtitle']{ display:block; font-size:10px; text-align:center; margin-top:-5px; padding:0;}	/* Tíctulo de las imágenes */		
#be div.pre{ background: black; color:white; padding:5px 10px 5px 10px; }
#be pre { font-family: monospace; line-height:12px; font-size:12px;}		
/* Estilos para las tablas */	
#be table { margin-bottom: 18px; border-width: 1px 0px 0px 1px;}
#be table td { padding: 4px; border-width: 0px 1px 1px 0; }
#be table tr td >p {display:inline;}