
* {
    margin: 0; padding: 0; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    text-align: left;
}

body{
text-align:center;
color:#353535;
background: rgb(207,231,250); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(207,231,250,1) 0%, rgba(99,147,193,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(207,231,250,1)), color-stop(100%,rgba(99,147,193,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
} 




.main_wrapper{
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    width:980px;
    min-height: 920px;
    height:100%;
    height:auto;
    border: 1px solid #808080;
    border-bottom: none; 
    -moz-box-shadow: 0 0 5px #888, 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888, 0 0 5px#888;
    box-shadow:  0 0 5px #888,  0 5px #888;
    top-box-shadow:0;
}

.menu_wrapper{
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    width:980px;
    min-height: 30px; 
    border-bottom: 1px solid rgb(221, 221, 221);
    text-align: right;
}


.menu_wrapper > a, .menu_wrapper > span{ text-align: center;  min-height: 30px; padding:15px 10px 5px 10px; min-width:130px; display: inline-block; text-decoration: none; color:#808080;}
.menu_wrapper > a:hover,  .menu_wrapper > span:hover{ border-bottom:  5px solid #0055af; margin-bottom:-5px; color:black;}
.menu_wrapper > span{ background: #F8F8F8; cursor:default; border-bottom:  5px solid #ff8100; margin-bottom:-5px; color:black; }
.menu_wrapper .logo{ width: 64px; height:64px; display:block; background: url("../img/logo_64.png"); margin-bottom:-50px;}
.menu_wrapper h1{ display:block; float:left; margin-top:-15px; margin-left:65px; text-align: left; }
.menu_wrapper h1 > span { font-size:10px; font-weight: normal; display:block; margin-top:-2px; }
.menu_wrapper h1 > b {font-weight:900;}

.totalbox{
    margin-left: auto;
    margin-right: auto;
    width:900px;
    margin-top: 20px;
    overflow: hidden;
    line-height:140%;
    font-size:13px;
}

.infobox_container{
    margin-left: auto;
    margin-right: auto;
    width:900px;
    margin-top: 20px;
    background: #F8F8F8;
    overflow: hidden;
    line-height:140%
}

.infobox_icon{
        float:left;
        margin:-8px;
        border-right: 1px solid rgb(221, 221, 221);
        width:32px; height:32px; display:block;
      /*  background: url("camera.png");  */
        background-position: center; background-repeat:no-repeat; 
}
.infobox_header{ 
    font-size: 13px; 
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border:1px solid rgb(221, 221, 221);
    padding:10px;
    text-align: center;
    height:15px;
}

/* Botones de selección y otros */
input[type='text'], textarea { border: 1px solid #888; padding:3px;} 
input[type='text']:focus, textarea:focus { background:#FFFFCE; } 
input[type='submit'], input[type='button'], button, span.button { background:#88B5E1; border: 1px solid #8080FF; color:white;  padding:8px; cursor:pointer; }
input[type='submit']:hover, input[type='button']:hover, button:hover, span.button:hover{background-color:#FCD16D; color:#555; border: 1px solid #8C4600; cursor:pointer; } 


.infobox_body{
   font-size: 13px;
   color:#585858;
   border:1px solid rgb(221, 221, 221);
   border-top: none;
   padding:10px;
}

div.submenu_wrapper{
    width:190px;
    display: block;
    float:left;
    margin-right: 0px;
    
}
div.submenu_wrapper ul > li{ min-height:30px;}
div.submenu_wrapper ul > li.selected{ font-weight: bold; }

div.submenu_content{
    width:650px;
    display:block;
    float:left;
    border-left:1px solid #D0D0D0;
    margin-bottom: 20px;
    padding: 20px;
}

#be .datepub {margin-bottom:20px;  float:right; }
#entries { padding-right:20px;}
#entries *{font-size:12px;}
#entries li {margin-top: 10px;}
#entries li.selected{font-weight:bold;}

.at{color:blue; text-decoration:underline; cursor:pointer;}
